//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 11 16:12:39 2018
//! **************************************************************************

SCHEMATIC START;
COMP "CLK" LOCATE = SITE "AB16" LEVEL 1;
PIN CLK_pin<0> = BEL "CLK" PINNAME PAD;
PIN "CLK_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "RST" LOCATE = SITE "T4" LEVEL 1;
COMP "BTN1" LOCATE = SITE "K2" LEVEL 1;
COMP "BTN2" LOCATE = SITE "M3" LEVEL 1;
COMP "BTN3" LOCATE = SITE "M1" LEVEL 1;
COMP "BTN4" LOCATE = SITE "N3" LEVEL 1;
COMP "BTN5" LOCATE = SITE "N1" LEVEL 1;
COMP "BTN6" LOCATE = SITE "M2" LEVEL 1;
COMP "BTN7" LOCATE = SITE "L3" LEVEL 1;
COMP "BTN8" LOCATE = SITE "K4" LEVEL 1;
COMP "BTN9" LOCATE = SITE "K1" LEVEL 1;
COMP "Pout" LOCATE = SITE "W15" LEVEL 1;
COMP "BTN_0" LOCATE = SITE "L1" LEVEL 1;
COMP "Dip_1" LOCATE = SITE "V1" LEVEL 1;
COMP "Dip_2" LOCATE = SITE "Y2" LEVEL 1;
COMP "Dip_3" LOCATE = SITE "U4" LEVEL 1;
COMP "Dip_4" LOCATE = SITE "R7" LEVEL 1;
COMP "BTN_sharp" LOCATE = SITE "K3" LEVEL 1;
COMP "BTN_star" LOCATE = SITE "L4" LEVEL 1;
SCHEMATIC END;

